.main-content {
  display: flex;
  gap: 42px;
}

/* ================== */
/* Col-left */
/* ================== */

.col-left {
  width: 375px;
  /* flex-shrink: 0; */

  display: flex;
  flex-direction: column;
  gap: 30px;

  /* border: 2px solid blue;
  height: 500px; */
}

.session-left {
  position: relative;
}

.ribbon-left {
  position: relative;
  margin-left: -20px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 40px;
  display: inline-block;

  font-family: var(--heading);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;

  color: var(--color-white);

  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.ribbon-left::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;

  border-width: 10px 10px 0 0;
  border-style: solid;

  filter: brightness(0.7);
}

.ribbon-left::after {
  content: "";
  position: absolute;
  right: -13px;
  top: 1px;
  border-width: 20px 0 20px 15px;
  border-style: solid;
}

/* ================== */
/* Ribbon Color */
/* ================== */

.bg-green {
  background-color: var(--color-green);
}

.bg-green::before {
  border-color: var(--color-green) transparent transparent transparent;
}

.bg-green::after {
  border-color: transparent transparent transparent var(--color-green);
}

.bg-dark-teal {
  background-color: var(--color-dark-teal);
}
.bg-dark-teal::before {
  border-color: var(--color-dark-teal) transparent transparent transparent;
}
.bg-dark-teal::after {
  border-color: transparent transparent transparent var(--color-dark-teal);
}

.bg-orange {
  background-color: var(--color-orange);
}
.bg-orange::before {
  border-color: var(--color-orange) transparent transparent transparent;
}
.bg-orange::after {
  border-color: transparent transparent transparent var(--color-orange);
}

.bg-red {
  background-color: var(--color-red);
}
.bg-red::before {
  border-color: var(--color-red) transparent transparent transparent;
}
.bg-red::after {
  border-color: transparent transparent transparent var(--color-red);
}

.paper-box {
  background: var(--paper-bg);
  padding: 24px 25px;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-box);
}

.paper-box p,
.paper-box li {
  line-height: 24px;
  margin: 0;
  transform: translateY(3px);
}
.paper-box ul {
  list-style: none;
}
.paper-box strong {
  font-weight: 700;
}
.username {
  text-transform: uppercase;
}

.education-box {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-box);
}

.education-title a {
  font-weight: bold;
}

.education-icon {
  color: var(--color-red);
  font-size: 14px;
}

.interests-grid {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-box);

  display: grid;
  grid-template-columns: repeat(6, 1fr);

  justify-content: center;
  gap: 12px;
  font-size: 24px;
}
.interest-item {
  transition: var(--transition-scale);
}

.interest-item:hover {
  transform: scale(1.2);
}

/* Custom color */
.interest-item.icon-gamepad {
  color: var(--icon-gamepad);
}
.interest-item.icon-tv {
  color: var(--icon-tv);
}
.interest-item.icon-globe-americas {
  color: var(--icon-globe);
}
.interest-item.icon-palette {
  color: var(--icon-palette);
}
.interest-item.icon-music {
  color: var(--icon-music);
}
.interest-item.icon-book {
  color: var(--icon-book);
}
.interest-item.icon-camera {
  color: var(--icon-camera);
}
.interest-item.icon-dumbbell {
  color: var(--icon-dumbbell);
}
.interest-item.icon-coffee {
  color: var(--icon-coffee);
}
.interest-item.icon-code {
  color: var(--icon-code);
}
.interest-item.icon-plane {
  color: var(--icon-plane);
}
.interest-item.icon-futbol {
  color: var(--icon-futbol);
}
.interest-item.icon-headphones {
  color: var(--icon-headphones);
}
.interest-item.icon-utensils {
  color: var(--icon-utensils);
}

/* ================== */
/* Col-right */
/* ================== */

.col-right {
  flex-grow: 1;
  position: relative;
  padding-left: 30px;
}

/* ================== */
/* Timeline */
/* ================== */

.col-right::before {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  bottom: 0;
  width: 0;
  border-left: 4px dotted var(--color-white);
}
.section-right {
  position: relative;
  margin-bottom: 40px;
  padding: 10px 20px 10px 40px;
  /* max-width: 200px; */

  /* border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
}

/* ================== */
/* Timeline Dot */
/* ================== */

.section-right::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 14px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.dot-red::before {
  background: var(--color-red);
}

.dot-green::before {
  background: var(--color-green);
}
.dot-teal::before {
  background: var(--color-dark-teal);
}
.dot-orange::before {
  background: var(--color-orange);
}

.tag-title {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: var(--color-white);

  font-weight: bold;
  font-family: var(--heading);
  font-size: 16px;

  border-radius: var(--border-radius-sm);
  position: relative;
  text-transform: uppercase;

  left: -5%;
  top: -10px;
}

.tag-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-width: 12px 12px 12px 0;
  border-style: solid;
}

.tag-red {
  background-color: var(--color-red);
}
.tag-red::before {
  border-color: transparent var(--color-red) transparent transparent;
}

.tag-green {
  background-color: var(--color-green);
}
.tag-green::before {
  border-color: transparent var(--color-green) transparent transparent;
}

.tag-teal {
  background-color: var(--color-dark-teal);
}
.tag-teal::before {
  border-color: transparent var(--color-dark-teal) transparent transparent;
}

.tag-orange {
  background-color: var(--color-orange);
}
.tag-orange::before {
  border-color: transparent var(--color-orange) transparent transparent;
}

/* ================== */
/* Skills */
/* ================== */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  gap: 20px 47px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  font-weight: 600;

  transition: var(--transition-scale);
}

.skill-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.skill-item:hover {
  transform: scale(1.2);
}

/* ================== */
/* Abilities */
/* ================== */
.abilities-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  gap: 20px 25px;
}

.abilities-item {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-size: 11px;
  font-weight: 600;

  transition: var(--transition-scale);
}

.ability-icon {
  font-size: 34px;

  margin-bottom: 8px;
}

.ability-item :hover {
  transform: scale(1.2);
}

/* ================== */
/* Experiences */
/* ================== */
.experience-grid {
  background-color: var(--bg-white-soft);
  padding: 20px;
  margin: 10px 0 0 15px;
  gap: 20px;

  border-radius: var(--border-radius-sm);

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  box-shadow: var(--shadow-box);
}
.experience-item {
  margin-bottom: 5px;
  padding: 12px;
  border-radius: var(--border-radius-sm);
  background-color: rgba(255, 255, 255, 0.6);
}

.experience-company {
  font-size: 14px;
  margin-bottom: 2px;
}
.experience-company a {
  font-weight: bold;
}

.experience-title {
  font-weight: bold;
  font-size: 13px;
}

.experience-location,
.experience-date {
  font-size: 12px;
  font-weight: 500;
}

/* ================== */
/* The End */
/* ================== */
.the-end-box {
  background-color: var(--bg-white-soft);
  padding: 20px;
  margin: 10px 0 0 15px;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-box);
}

.the-end-box p:first-child {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.the-end-box p:nth-child(2) {
  font-size: 15px;
  font-style: italic;
  color: var(--color-orange);
  font-weight: 600;
  padding-left: 10px;
  border-left: 3px solid var(--color-orange);
}
